.CarSortButton {
  font-size: 1rem;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 1.75)
    calc(var(--spacing) / 2) calc(var(--spacing) / 1.5);
  background-color: transparent;
  position: relative;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.CarSortButton:hover {
  background-color: var(--lite-grey);
}

.CarSortButton--active {
  color: var(--blue);
  border-color: inherit;
}

.CarSortButton--active::after {
  content: '';
  border-bottom: 7px solid var(--blue);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 50%;
  right: calc(var(--spacing) / 2);
  transition: transform 0.2s ease-in-out;
}

.CarSortButton--increasing::after {
  transform: translateY(-50%) rotate(0deg);
}

.CarSortButton--decreasing::after {
  transform: translateY(-50%) rotate(180deg);
}
