.CarList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--spacing) * 17), 1fr)
  );
  grid-gap: 20px;
}

.CarList__empty {
  color: var(--grey);
  text-align: center;
}
