.CarDetail__button {
  font-size: 1rem;
  padding: calc(var(--spacing) / 2) var(--spacing);
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.CarDetail__button:hover {
  opacity: 1;
}

.CarDetail__miles {
  color: var(--grey);
}
