@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CarLoader {
  height: 5rem;
  width: 5rem;
  border: 5px solid;
  border-color: var(--black) var(--lite-grey) var(--lite-grey) var(--lite-grey);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
